.dropdown-btn {
  border-width: 1px;
  border-color: yellowgreen;
  border-style: solid;
}

.menu {
  background-color: #1a1a1a;
}

.item {
  color: yellowgreen;
}

.icon-container {
  flex-direction: row;
  justify-items: center;
}

.icon {
  padding: 2px;
  margin: 4px;
}

/* .icon:hover {
  border-width: 0.5px;
  border-style: solid;
  border-color: yellowgreen;
} */

.selected {
  outline: none;
  box-shadow: 0 0 10px yellowgreen;
  background-color: rgba(127, 255, 0, 0.1);
  border-radius: 8px;
}

img {
  width: 100px;
  height: 100px;
}
