.dropdown-btn {
  border-width: 1px;
  border-color: yellowgreen;
  border-style: solid;
}

.menu {
  background-color: #1a1a1a;
}

.item {
  color: yellowgreen;
}

.icon-container {
  flex-direction: row;
  justify-items: center;
}

.icon {
  padding: 2px;
  margin: 4px;
}

.icon:hover {
  border-width: 0.5px;
  border-style: solid;
  border-color: yellowgreen;
}

.selected {
  border-width: 0.5px;
  border-style: solid;
  border-color: yellowgreen;
}

img {
  width: 100px;
  height: 100px;
}
