.prs-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.goals-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.strength, .cardio {
  flex: 1;
  min-width: 300px;
}

.box {
  border-style: solid;
  border-width: 1px;
  border-color: greenyellow;
  margin-top: 1rem;
  border-radius: 0.3rem;
}

.exercise-name {
  color: yellowgreen;
  font-size:x-large;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}


.goal-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 1rem;
  margin-bottom: 5rem;
}


@media (max-width: 768px) {
  .goal-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .goal-container {
    grid-template-columns: 1fr;
  }
}
