.search-dropdown {
  position: relative;
}

.search-suggestions {
  list-style: none;
  background: #1a1a1a;
  color: white;
  border: 1px solid yellowgreen;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
}

.search-suggestions li {
  padding: 0.5rem;
  cursor: pointer;
}

.search-suggestions li:hover {
  background-color: rgba(153, 205, 50, 0.774);
}

.search-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-icon {
  margin-right: 6px;
  margin-bottom: 4px;
}
